# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      pre-release-version:
        description: 'Version to set wheel to for pre-release'
        required: false
        default: ''
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set Version
        if: ${{ inputs.pre-release-version }}
        run: |
          echo "Setting version to ${{ inputs.pre-release-version }}"
          pip install bump2version
          bump2version --new-version ${{ inputs.pre-release-version }} patch
      - name: Build Package
        run: |
          python -m pip install --upgrade pip
          python -m pip install build
          python -m build
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: dist/
